<nav class="bg-blue-500 p-4 text-white font-bold text-lg">
	<a href="/news" class="mr-4">News</a>
	<a href="/matches" class="mr-4">Matches</a>
	<a href="/top-players" class="mr-4">Top Players</a>
	<a href="/top-teams" class="mr-4">Top Teams</a>
</nav>
