<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
			rel="stylesheet"
		/>

		<title>News</title>
	</head>
	<body class="bg-gray-200">
		<%- include('../partials/navigation'); %>
		<main class="p-8">
			<h1 class="text-center font-bold text-2xl uppercase">News</h1>
			<% news.forEach(function(news) { %>
			<div class="rounded-lg mb-2 text-center shadow-lg p-8">
				<a href="<%= news.link %>" target="_blank" class="font-bold text-lg">
					<%= news.title %>
				</a>
				<p><%= news.time %></p>
			</div>
			<% }); %>
		</main>
	</body>
</html>
